
/* Tag gold para texto */
gold {
  background: linear-gradient(91deg, #7F5923 -1.33%, #AC8035 14.26%, #D8AF55 28.87%, #E7D780 43.98%, #D1B562 59.08%, #C29345 72.72%, #D4B461 84.9%, #EADD81 95.62%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline;
  font-weight: 400;
  padding-top: 10px;
  padding-right: 4px;
}

/* Classe para reordenar elementos no mobile - texto no meio */
@media screen and (max-width: 767px) {
  .reorder-mobile-text-middle .m-custom-content__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .reorder-mobile-text-middle .m-custom-content__wrapper > div:nth-child(1) {
    order: 1;
  }
  .reorder-mobile-text-middle .m-custom-content__wrapper > div:nth-child(2) {
    order: 3;
  }
  .reorder-mobile-text-middle .m-custom-content__wrapper > div:nth-child(3) {
    order: 2;
  }
}

/* Texto sobre nós - estilo responsivo */
.text-sobre-nos .m-richtext__description,
.text-sobre-nos .m-richtext__description p {
  color: #000 !important;
  font-family: var(--font-stack-header);
  font-weight: 200;
  line-height: 1.4;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.8px;
}

.text-sobre-nos {
  padding-top: 20px!important;
  padding-bottom: 20px!important;
}

@media screen and (min-width: 768px) {
  .text-sobre-nos {
    padding-top: 50px!important;
    padding-bottom: 0!important;
  }

  .text-sobre-nos .m-richtext__description,
  .text-sobre-nos .m-richtext__description p {
    font-size: 20px;
    text-align: justify;
  }
}
